* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "slnt" 0;

  width: 100%;
  min-height: 100vh;
  background: #f4fafe;
  display: flex;
  justify-content: left;
  align-items: start;
}

.first-lesson {
  width: 340px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}

.second-lesson {
  width: 340px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}

.third-lesson {
  width: 340px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}

.four-lesson {
  width: 340px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}

.five-lesson {
  width: 340px;
  height: 70px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}

.Comment_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Comment {
  width: 751px;
  height: 83px;
  border-radius: 15px;
  border: 1px solid #ab00ea;
}
