* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "slnt" 0;

  width: 100%;
  min-height: 100vh;
  background: #f4fafe;
  display: flex;
  justify-content: left;
  align-items: start;
}

h2 {
  font-size: 34px;
  text-align: center;
  padding: 25px;
  font-weight: 300;
}
.wrapper {
  display: flex;
}
