* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "slnt" 0;

  width: 100%;
  min-height: 100vh;
  background: #f4fafe;
  display: flex;
  justify-content: left;
  align-items: start;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 110px;
  width: 63px;
  height: 100vh;
  background: rgb(153, 0, 255);
  background: linear-gradient(
    108deg,
    rgba(153, 0, 255, 0.9809173669467787) 26%,
    rgba(243, 121, 253, 1) 93%
  );
}

h2 {
  font-size: 34px;
  text-align: center;
  padding: 25px;
  font-weight: 300;
}
.wrapper {
  display: flex;
}
